@import "./font-famliy.scss";
@import "./mixin.scss";

body{
    background-image: url("../image/main-bg.jpg");
    color: #141414;
}
.main-block{
  
    padding: 50px 60px;
  
   
}

.content-section{
    text-align: right;

    h1{
       @include mainTitle;
       padding: 0 90px;

       b{
           font-weight: 700
       }
    }

    h3{
       @include heading;
      
    }

    p{
       @include textStyle;
    }

    .website{
        text-align: center;
        padding: 25px 0 0;
      p{
        background-color: #d38835;
        width: auto;
        display: inline-block;
        padding: 5px 35px 7px;
        line-height: 34px;
        letter-spacing: 1.5px;
      }
    }
    .coin-img-section{
        
        margin-top: 25px;
        height: 284px;
        position: relative;
        width: 491px;
        float: right;

        img{
            position: absolute;
        }

        .coin1-img{
           
            top: 0;
            width: 125px;
            left: 135px;
        }

        .coin2-img{
            top: 160px;
            width: 125px;
            left: 70px;
        }

        .coin3-img{
            width: 80px;
            top: 97px;
            right: 110px;
        }
    }
}


.post2.post-block{
     max-width: 1366px;
     margin: auto;
     position: relative;

   .center-img {
    margin: 50px 0 20px;
    text-align: center;
         img{
            max-width: 868px;
            margin: auto;
         }
     }
    .graph-section{
           text-align: center;
           margin-bottom: 40px;
   
        img{
           width: 385px;
        }
}

.sub-content-section{
    text-align: center;
    max-width: 634px;
    margin: auto;

    h3{

    }
    p{

    }
}

.bg-img-section{

    img{
        position:absolute;
    }
    .left-top-img{
        top: 93px;
        left: 37px;
        width: 150px;
    }
    .right-top-spin-line{
        top: 38px;
        right: -60px;
        width: 200px;   
    }
    .genetic-line-img{
        top: 158px;
        right: -24px;
        width: 246px;
    }
    .circle-img1{
        top: 450px;
        width: 16px;
        left: 178px;
    }
    .circle-img2{
        width: 16px;
        right: 33px;
        top: 450px;
    
    }
    .center-left-spin-line{
        top: 600px;
        left: -60px;
        width: 200px;  
    }
    .coin1-img{
        bottom: 465px;
        left: 55px;
        width: 115px;
    }
    .coin2-img{
        bottom: 465px;
        right: 55px;
        width: 115px;
    }
    .bottom-left-spin-line{
        bottom: 234px;
        width: 200px;
        left: 27px;
    }
    .bottom-right-spin-line{
        bottom: 63px;
        right: 19px;
        width: 200px;
    }
    .circle-img3{
        bottom: 134px;
        width: 16px;
        right: 72px;
    }
    .circle-img4{
        bottom: 175px;
        left: 82px;
        width: 16px;
    }
 }

}


@keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .main-img {
      opacity:1;  
      animation: fadeInOut 4s ease-in-out infinite;
      animation-duration: 5s;
  } 
  
  